/.idea

# random

/assignment/week_2_adt/cmake-build-debug
/assignment/week_2_adt/.idea
/assignment/week_2_adt/CMakeLists.txt

# tp 1 struktur data

/tp_1_std/bin
/tp_1_std/obj
/tp_1_std/tp_1_std.cbp
/tp_1_std/tp_1_std.depend
/tp_1_std/tp_1_std.layout

# tp 2 struktur data

/tp_2_std/cmake-build-debug
/tp_2_std/.idea
/tp_2_std/CMakeLists.txt
